.page_title{
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
    color: rgb(158, 158, 158);
    margin-top: -30px;
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .page_title{
        display: none;
    }
}